<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding" fullScreen="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2" size-lg="8" offset-lg="2">
        <div class="container-flex">
          <div class="items-flex ion-padding">
            <ion-item lines="full">
              <ion-label position="floating">
                Email
              </ion-label>
              <!-- <ion-icon name="globe"></ion-icon> -->
              <ion-input type="text" required></ion-input>
            </ion-item>

            <ion-item lines="full">
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" required></ion-input>
            </ion-item>
            <ion-button expand="block" shape="outline" class="ion-no-padding" fill="clear" color="white"
              routerLink="/side-menu">
              click me!
            </ion-button>
            <div class="option-buttons">
              <ion-button fill="clear" class="ion-no-padding" (click)="nextpage()" routerDirection="forward">
                Rememberme
              </ion-button>
              <ion-button fill="clear" class="ion-no-padding" routerLink="/list-view" routerDirection="forward">
                ForgotPassword

              </ion-button>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <a routerLink="/list-view">Go to list view</a>
</ion-content>