// ion-content {
//  --background:rgb(255,230,220);
// }


.container-flex {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}


.items-flex {
    flex-grow:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.option-buttons {
display: flex;
 justify-content: space-between;
}