<ion-content class="ion-no-padding">
  <div class="container-flex">
    <div class="items-flex ion-padding">
      <ion-item lines="full">
        <ion-label position="floating">
          Email
        </ion-label>
        <!-- <ion-icon name="globe"></ion-icon> -->
        <ion-input type="text" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>
      <ion-button expand="block" shape="outline" class="ion-no-padding" fill="clear" color="white">
        click me!
      </ion-button>
      <div class="option-buttons">
        <ion-button fill="clear" class="ion-no-padding">
          Rememberme
        </ion-button>
        <ion-button fill="clear" class="ion-no-padding">
          ForgotPassword
        </ion-button>
      </div>
    </div>
  </div>


</ion-content>