ion-content {
 --background:rgb(255,230,220);
}

ion-grid{
height: 100%;
ion-row{
height: 100%;
}
}


.container-flex {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}


.items-flex {
 align-items: stretch;
    flex-grow:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.option-buttons {
display: flex;
 justify-content: space-between;
}

@media(prefers-color-scheme: dark) {
ion-content {
 --background:#000000;
}
}