 <ion-split-pane contentId="content" when="md">

        <ion-menu contentId="content" type="overlay">
               <ion-header>  
         <ion-toolbar color="danger">  
           <ion-title>Side Menu</ion-title>  
         </ion-toolbar>   
       </ion-header>  
       <div class="menu-header">
       </div>
            <ion-content>
               <ion-list>
               <ion-list-header>Side Menu</ion-list-header>
        <ion-menu-toggle auto-hide="false" *ngFor="let page of navigate">
          <ion-item [routerLink]="page.url" routerDirection="root" [class.active-menu]="activePath === page.url">
          <ion-icon [name]="page.icon" slot="start"></ion-icon>  
            {{page.title}}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
            </ion-content>
            <ion-footer> 
            <ion-toolbar>
            <ion-buttons slot="end"> Logout
      <ion-icon name="home">
      </ion-icon>
      </ion-buttons>  
            </ion-toolbar>
      </ion-footer>
        </ion-menu>
        <ion-router-outlet id="content" main></ion-router-outlet>
    </ion-split-pane>



