<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullScreen="true" class="ion-padding">
  <form [formGroup]="form">
    <ion-item class="ion-no-padding" lines="none">
      <!-- <ion-label position="fixed">Username</ion-label> -->
      <ion-input formControlName="UserId" type="text" placeholer></ion-input>
    </ion-item>
  </form>

  <ion-button color="primary" expand="block" shape="round" class="ion-padding">
    click me!
  </ion-button>
</ion-content>