// :host{
//     ion-item {
//         border:10px;
//         border-block: 20px;
//         border-block-color: black;
//     }
// }   

// ion-item {
// --background: rgba(215, 233, 245, 0.8);
// }

// ion-item {
//     // --border-color:black;
// //     --background: rgba(215, 233, 245, 0.8);
// //     --border-top: 10px;
// //     --border-color: red;
// // border-radius: 20px !important;
// // padding-left: 10px;
// // padding-right: 10px;
// // padding-bottom: 5px;
// // padding-top: 5px;
//   border: 1px solid red;
//   border-radius: 30px;
//   height: 50px;
//     }

ion-content{
--background:#ffffff;
}

// ion-item {
// --background: transparent;
// ion-label{
// --color: white;
// }
// ion-input{
// --color: white;
// }
// }

.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.custom {
display: grid;
margin:auto;
}


// @media (min-width: 240px) and (max-width: 768px) {
//     ion-grid {
//         background: $white-color;
//     }
//     ion-col {
//         border: none;
//     }
// }