<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->


<!-- <ion-content fullscreen="true" class="ion-padding">

  <div class="formFlexbox">

    <div class="custom-logo">
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      <h3>SignIn</h3>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="8" offset-md="2" size-lg="6" offset-lg="3">

          <ion-item lines="full">
            <ion-label position="floating">
              Email
            </ion-label>
            <ion-input type="text" required></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" required></ion-input>
          </ion-item>
  
          <ion-button expand="block" shape="outline" class="ion-no-padding" fill="clear" color="white"
            routerLink="/map">
            Map Component
          </ion-button>
          <div class="flexbox">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content> -->

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="sunny"></ion-icon>
      <ion-label>home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="moon"></ion-icon>
      <ion-label>contact</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>